.code-block {
    display: flex;
    background-color: var(--background-color);
    padding: 15px 20px 15px 15px;
    border-radius: 8px;
    margin-bottom: 25px;
}

pre {
    margin: 0;
    display: block;
    overflow-x: scroll;
}

code {
    background-color: var(--background-color);
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 4px;
    font-size: 11pt;
    line-height: 150%;
}

pre code {
    margin: 0;
    padding: 0;
    background-color: initial;
    border-radius: 0;
}

.code-linenum {
    margin-right: 20px;
    min-width: 16px;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code-linenum code {
    color: #a0a1a7;
}

.code-linenum-main {
    flex: 1;
}

/* @media screen and (max-width:720px) {
    pre {
        margin-left: 10px;
        margin-right: 10px;
    }
} */