/* css for footer */

footer {
    bottom: 0;
    background-color: var(--gray-color);
    padding: 20px 0 100px;
    text-align: center;
}

.footer-title {
    color: white;
    font-weight: 600;
    font-size: 20pt;
    margin: 0 0 10px 0 !important;
}

.footer-title:hover {
    text-decoration: none;
}

.footer-text {
    margin: 0 !important;
}