pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

.hljs-comment, .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag, .hljs-formula, .hljs-keyword, .hljs-meta {
    color: #a626a4;
}

.hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e45649;
}

.hljs-deletion {
    background-color: #f9d8d6;
}

.hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string{
    color: #50a14f;
}

.hljs-addition {
    background-color: #d6fddb;
}

.hljs-literal, .hljs-number, .hljs-attr, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #2459cb;
}


.hljs-bullet, .hljs-link, .hljs-selector-id, .hljs-symbol, .hljs-title, .hljs-built_in, .hljs-class .hljs-title, .hljs-meta .hljs-string, .hljs-title.class_ {
    color: #b57b00;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

.hljs-link {
    text-decoration: underline;
}

