:root {
    --main-color: #17a54b;
    --background-color: #f4f4f4;
    --header-subcolor: #bce8a9;
    --gray-color: #555555;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "YakuHanJPs","-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

main {
    margin: 30px auto 40px auto;
    padding: 0 30px;
    max-width: 800px;
    text-align: center;
    overflow: hidden;
}

.main-item {
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.item-inner {
    padding: 35px 32px;
}

@media screen and (max-width:480px) {
    main {
        padding: 0;
    }

    .main-item {
        border-radius: 0;
    }

    .item-inner {
        padding: 35px 16px;
    }
}

h1 {
    font-weight: 600;
    font-size: 26pt;
    margin-top: 0;
    margin-bottom: 60px;
}

h2 {
    font-weight: 600;
    font-size: 20pt;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
    margin-top: 50px;
    margin-right: 10px;
    line-height: 125%;
}

h3 {
    font-weight: 600;
    font-size: 17pt;
    margin-top: 40px;
    margin-bottom: 22px;
    line-height: 130%;
}

h4 {
    font-weight: 600;
    font-size: 14pt;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 140%;
}

a {
    color: var(--main-color);
    text-decoration: none;
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

p, h5, h6 {
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    
}

ul, ol {
    margin-top: 14px;
    padding-left: 30px;
    padding-right: 20px;
}

li:has(ul) {
    margin-top: 6px;
}

ul ul, ol ol {
    padding-right: 0;
}

li ul, li ol {
    margin-top: 0;
    padding-right: 0;
}

li ul:last-child, li ol:last-child {
    margin-top: 6px;
    margin-bottom: 10px;
}

li li ul:last-child, li li ol:last-child {
    margin-top: 6px;
    margin-bottom: 10px;
}

.no-line-height {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.no-under-line {
    border-bottom: 0px solid;
}

details {
    margin-bottom: 15px;
}

details[open] {
    margin-bottom: 30px;
}

details[open] summary {
    margin-bottom: 0;
}

details .details-inner {
    border-left: 4px solid #cccccc;
    padding-left: 20px;
    margin-left: 5px;
}

summary:hover {
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .no-line-height {
        margin: 3px 0;
    }

    ul, ol {
        padding-left: 20px;
    }

    li ul, li ol {
        padding-left: 16px;
    }

    details .details-inner {
        padding-left: 10px;
    }

    details .details-inner img {
        padding-left: 10px;
    }
}