span.MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
}

li span.MJXc-display {
    padding-top: 0;
}

p:has(span.MJXc-display) {
    margin: auto 10px;
}

#MathJax_Message {
    display: none !important;
}

@media screen and (max-width:720px) {
    span.MJXc-display{
        margin-right: calc(50% - 50vw + 40px) !important;
        margin-left: calc(50% - 50vw + 50px) !important;
        width: 80vw !important;
    }
}