:root {
    --main-color: #17a54b;
    --background-color: #f4f4f4;
    --header-subcolor: #bce8a9;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "YakuHanJPs","-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

main {
    margin: 30px auto 40px auto;
    padding: 0 30px;
    max-width: 800px;
    text-align: center;
}

.main-item {
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.item-inner {
    padding: 35px 32px;
}

.item-inner-large {
    padding: 10px 24px;
}

h1 {
    font-weight: 600;
    font-size: 28pt;
    margin-top: 0;
    margin-bottom: 60px;
}

h2 {
    font-weight: 600;
    font-size: 20pt;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
    margin-top: 50px;
    margin-right: 10px;
    line-height: 125%;
}

h3 {
    font-weight: 600;
    font-size: 18pt;
    margin-top: 40px;
    margin-bottom: 22px;
    line-height: 130%;
}

h4 {
    font-weight: 600;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 140%;
}

a {
    color: var(--main-color);
    text-decoration: none;
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

p, h5, h6 {
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    
}

ul {
    padding-left: 50px;
    padding-right: 30px;
}

li {
    padding-bottom: 10px;
}



/* Header */

header{
    background-color: var(--main-color);
    width: 100%;
    height: 60px;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
}

.header-title {
    height: 100%;
    font-size: 24pt;
    color: white;
    font-weight: 600;
    margin-top: 0;
    margin-left: 20px;
    line-height: 60px;
}

.header-title:hover {
    text-decoration: none;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-list li {
    margin-right: 60px;
}

.header-list li a {
    color: var(--header-subcolor);
    font-size: 13pt;
    font-weight: 400;
    padding-top: 0;
    line-height: 32px;
}

.header-list li a:hover {
    color: white;
    text-decoration: none;
}


/* header for smartphone */

@media screen and (min-width:720px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .header-list {
        display: none;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        margin: auto 30px auto 0;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger:hover span {
        background-color: white;
    }

    .hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2.5px;
        background-color: var(--header-subcolor);
        /* transform: translateY(-50%); */
    }

    .hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        height: 2.2px;
        background-color: var(--header-subcolor);
    }

    .hamburger:hover::before {
        background-color: white;
    }

    .hamburger::after {
        content: '';
        display: block;
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 2.2px;
        background-color: var(--header-subcolor);
    }

    .hamburger:hover::after {
        background-color: white;
    }
}




/* Main Page */

.icon {
    width: 200px;
    border-radius: 100px;
    margin-bottom: 5px;
}

.icon-name {
    font-weight: 600;
    font-size: 20pt;
    margin: 10px;
    line-height: normal;
}

.main-list {
    margin-top: 16px;
    margin-bottom: 2px;
    padding-left: 40px;
    padding-right: 20px;
}

.main-title {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    border-bottom: 0px solid;
}

.main-subtitle {
    line-height: normal;
    margin-top: 10px;
    padding: 0;
    border-bottom: 0px solid;
}

.no-line-height {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.no-under-line {
    border-bottom: 0px solid;
}