:root {
    --main-color: #17a54b;
    --background-color: #f4f4f4;
    --header-subcolor: #bce8a9;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "YakuHanJPs","-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

main {
    margin: 30px auto 40px auto;
    padding: 0 30px;
    max-width: 800px;
    text-align: center;
}

.main-item {
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.item-inner {
    padding: 35px 32px;
}

.item-inner-large {
    padding: 10px 24px;
}

@media screen and (max-width:480px) {
    main {
        padding: 0;
    }

    .main-item {
        border-radius: 0;
    }

    .item-inner {
        padding: 35px 16px;
    }

    .item-inner-large {
        padding: 10px 20px;
    }
}

h1 {
    font-weight: 600;
    font-size: 26pt;
    margin-top: 0;
    margin-bottom: 60px;
}

h2 {
    font-weight: 600;
    font-size: 20pt;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
    margin-top: 50px;
    margin-right: 10px;
    line-height: 125%;
}

h3 {
    font-weight: 600;
    font-size: 18pt;
    margin-top: 40px;
    margin-bottom: 22px;
    line-height: 130%;
}

h4 {
    font-weight: 600;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 140%;
}

a {
    color: var(--main-color);
    text-decoration: none;
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

p, h5, h6 {
    margin: 2px 0;
    line-height: 180%;
    font-size: 12pt;
    
}

ul {
    padding-left: 50px;
    padding-right: 30px;
}

li {
    padding-bottom: 10px;
}



/* Header */

header{
    background-color: var(--main-color);
    width: 100%;
    height: 60px;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
}

.header-title {
    height: 100%;
    font-size: 24pt;
    color: white;
    font-weight: 600;
    margin-top: 0;
    margin-left: 20px;
    line-height: 60px;
}

.header-title:hover {
    text-decoration: none;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-list li {
    margin-right: 60px;
}

.header-list li a {
    color: var(--header-subcolor);
    font-size: 13pt;
    font-weight: 400;
    padding-top: 0;
    line-height: 32px;
}

.header-list li a:hover {
    color: white;
    text-decoration: none;
}

.jc-nav, .it-nav, .pr-nav, .lt-nav {
    position: absolute;
    max-height: 500px;
    background-color: var(--main-color);
    overflow: auto;
}

.jc-nav {
    right: 312px;
    width: 180px;
    display: none;
}

.it-nav {
    right: 145px;
    width: 300px;
    display: none;
}

.pr-nav {
    right: 78px;
    width: 180px;
    display: none;
}

.lt-nav {
    right: 0;
    width: 300px;
    display: none;
}

.hamburger-nav {
    position: absolute;
    width: 100%;
    background-color: var(--main-color);
    overflow: auto;
    display: none;
}

.hamburger-nav .nav-inner {
    display: block;
    max-width: 480px;
    margin: 20px auto;
}

.nav-inner a {
    color: var(--header-subcolor);
    font-size: 13pt;
}

.nav-inner h4 {
    color: white;
    font-size: 15pt;
    padding-left: 20px;
}

.nav-inner a:hover {
    color: white;
    text-decoration: none;
}

.nav-inner ul {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.hamburger-nav .nav-inner ul {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-inner li:last-child {
    margin-bottom: 10px;
}

.hamburger-nav .jc h4, .hamburger-nav .it h4, .hamburger-nav .pr h4, .hamburger-nav .lt h4 {
    font-size: 13pt;
}

.hamburger {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    margin: auto 30px auto 0;
}

.hamburger-close {
    position: fixed;
    display: none;
    width: 30px;
    height: 30px;
    margin: 0;
    top: 14px;
    right: 26px;
    z-index: 1;
}

.hamburger:hover, .hamburger-close:hover {
    cursor: pointer;
}

.hamburger span, .hamburger::before, .hamburger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: var(--header-subcolor);
    transform: translateY(-50%);
}

.hamburger span {
    top: 50%;
}

.hamburger::before {
    content: '';
    top: 20%;
}

.hamburger::after {
    content: '';
    top: 80%;
}

.hamburger-close span, .hamburger-close::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: var(--header-subcolor);
}

.hamburger-close span {
    transform:rotate(45deg);
}

.hamburger-close::before {
    content: '';
    transform:rotate(315deg);
}

.hamburger:hover span, .hamburger:hover::before, .hamburger:hover::after, .hamburger-close:hover span, .hamburger-close:hover::before {
    background-color: white;
}


/* header for smartphone */

@media screen and (max-width:480px) {
    .header-title {
        font-size: 22pt;
    }

    .jc-nav, .it-nav, .pr-nav, .lt-nav {
        display: none;
    }
}

@media screen and (min-width:720px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .header-list {
        display: none;
    }

    .jc-nav, .it-nav, .pr-nav, .lt-nav {
        display: none;
    }
}




/* Main Page */

.icon {
    width: 200px;
    border-radius: 100px;
    margin-bottom: 5px;
}

.icon-name {
    font-weight: 600;
    font-size: 20pt;
    margin: 10px;
    line-height: normal;
}

.main-list {
    margin-top: 16px;
    margin-bottom: 2px;
    padding-left: 40px;
    padding-right: 20px;
}

.main-title {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    border-bottom: 0px solid;
}

.main-subtitle {
    line-height: normal;
    margin-top: 10px;
    padding: 0;
    border-bottom: 0px solid;
}

.no-line-height {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.no-under-line {
    border-bottom: 0px solid;
}

@media screen and (max-width:480px) {
    .icon {
        width: 160px;
        margin-bottom: 0;
    }

    .icon-name {
        margin: 8px;
    }

    .no-line-height {
        margin: 3px 0;
    }

    .main-list {
        padding-left: 34px;
    }
}