:root {
    --main-color: #17a54b;
    --background-color: #f4f4f4;
}

body {
    font-family: "YakuHanJPs","-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Header */

header{
    background-color: var(--main-color);
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
}

.header-title {
    height: 100%;
    font-size: 24pt;
    color: white;
    font-weight: 600;
    margin-left: 20px;
    line-height: 60px;
}

.header-title:hover {
    text-decoration: none;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-item {
    margin-right: 60px;
}

.header-text {
    color: #bce8a9;
    font-size: 13pt;
    font-weight: 400;
    padding-top: 0;
    line-height: 32px;
}

.header-text:hover {
    color: white;
    text-decoration: none;
}

/* header for smartphone */

@media screen and (max-width:720px) {
    .header-list {
        display: none;
    }
}





main {
    margin: 50px auto 0 auto;
    padding: 30px;
    max-width: 900px;
    text-align: center;
}


/* Main Page */

.icon {
    width: 200px;
    border-radius: 100px;
    margin-bottom: 5px;
}

.icon-name {
    font-weight: 700;
    font-size: 20pt;
    margin: 10px;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-item {
    background-color: white;
    border-radius: 10px;
    text-align: left;
}

.grid-title {
    font-weight: 700;
    font-size: 20pt;
    padding-top: 16px;
    padding-left: 24px;
}

.grid-subtitle {
    font-weight: 600;
    font-size: 14pt;
    padding-top: 12px;
    padding-left: 24px;
}

.grid-list {
    padding-left: 60px;
    padding-right: 40px;
}

.grid-text {
    padding-bottom: 10px;
}

li.grid-text:last-child {
    padding-bottom: 5px;
}